* {
    padding: 0;
    margin: 0;
}

.show {
    display: block;
}
.hidden{
    display: none;
}

/*
.btn-outline-info {
    border: 1px solid $baseColor;
    color: $baseColor;
    
    &:hover, &:not(:disabled):not(.disabled):active {
        color: $baseColorText;
        background-color: $baseColor;
        border-color: $baseDarkColor;
    }

    &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: $baseBoxShadow;
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        color: #fff;
        border-color: $baseDarkColor;
        background-color: $baseColor;
    }
}

*/