$background-color-one: #e99b47;
$background-color-two: #e46a32;
$background-color-content: #fff;

/*
$baseColor: #9679cf;
$baseDarkColor: #341a6b;
$baseColorText: #ffe5a8;
$baseBoxShadow: 0 0 0 0.2rem rgba(150, 121, 207, 0.3);

@mixin flex-row ($position:flex-start, $align:flex-start) {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: $position;
}

@mixin toolbar-badge {
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: -3px;
    background-color: $baseColorText !important;
    color: $baseColor;
}

@mixin flex-column ($position:flex-start, $align:flex-start) {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column nowrap;
    justify-content: $position;
    align-items: $align;
}




*/
@mixin border-test ($color: #ccc) {
    border: 1px solid $color;
}